{% extends 'layoutAdmin.html.twig' %}
{% block title %}Administration des ufa du cfa de Blois{% endblock %}

{% block body %}
<div class="container">
    <h1 >Modifier les UFA</h1>
    <div class="row">
        <div class="col-8">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-outline-primary" type="submit" value="Modifier" />
            {{ form_end(edit_form) }}
        </div>
        <div class="col-4 border-left">
            <ul>
                <li>
                    <a class="btn btn-outline-secondary btn-group" href="{{ path('ufa_index') }}">Retour à la liste</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-outline-danger btn-group" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
                <li>
                    <a class="btn btn-outline-dark" href="{{ path('ufa_edit_coord', { 'id': ufa.id }) }}">Corriger manuellement les coordonnées</a>
                </li>
            </ul>

        </div>
    </div>
</div>
{% endblock %}
