{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center title-style">Liste des UFA</h1>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Urlsite</th>
            <th>Description</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ufa in ufas %}
            <tr>
                <td><a href="{{ path('ufa_show', { 'id': ufa.id }) }}">{{ ufa.id }}</a></td>
                <td>{{ ufa.name }}</td>
                <td>{{ ufa.logo }}</td>
                <td>{{ ufa.urlsite }}</td>
                <td>{{ ufa.description }}</td>
                <td>{{ ufa.address }}</td>
                <td>
                    <ul>
                        <li>
                            <a class ="btn btn-danger form-control" href="{{ path('ufa_show', { 'id': ufa.id }) }}">Delete</a>
                        </li>
                        <li>
                            <a class ="btn btn-warning form-control" href="{{ path('ufa_edit', { 'id': ufa.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class ="btn btn-success" href="{{ path('ufa_new') }}">+ Ajouter un UFA</a>
        </li>
    </ul>
</div>
{% endblock %}
