{% extends 'layoutAdmin.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center title-style">Liste des UFA</h1>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ufa in ufas %}
            <tr>
                <td><a href="{{ path('ufa_show', { 'id': ufa.id }) }}">{{ ufa.name }}</td>
                <td>{{ ufa.address }}</td>
                <td>{{ ufa.zipcode }}</td>
                <td>{{ ufa.town }}</td>
                <td>
                    <ul>
                        <li>
                            <a class ="btn btn-danger form-control" href="{{ path('ufa_show', { 'id': ufa.id }) }}">Supprimer</a>
                        </li>
                        <li>
                            <a class ="btn btn-warning form-control" href="{{ path('ufa_edit', { 'id': ufa.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class ="btn btn-primary" href="{{ path('ufa_new') }}">+ Ajouter un UFA</a>
        </li>
    </ul>
</div>
{% endblock %}
