<section>
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center ">LE CFA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5 d-none d-sm-block">
            <img class="img-fluid center-block cfa-image" src="{{ asset('images/blois3.jpg') }}"
                 alt="Vue-de-Blois"/>
        </div>
        <div class="col-sm-12 col-md-7 mt-4">
            <p class="">
                Bienvenue sur le site du CFA pour les métiers du champ social, médico-social et sanitaire de la Région
                Centre-Val de Loire ! Futurs apprentis, futurs maîtres d'apprentissage, employeurs, vous trouverez dans
                ces quelques pages les premières informations qui, nous l'espérons, vous donnerons l'envie de vous
                engager et de finaliser votre projet professionnel. Le CFA est à votre disposition pour vous renseigner
                sur tout ce que vous avez voulu savoir sur les métiers du sanitaire et du social accessibles par
                l'apprentissage. A bientôt !
            </p>
            <p class="text-center">
                <a class="btn btn-outline-success" href="{{ path('historiccfa_view') }}">En savoir plus</a>
            </p>

            <div class="row count-up ">
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="counter " data-count="{{ cfa.apprenticeNumber ?? 0 }}">0</div>
                    <p><i class="fas fa-user"></i> apprentis en formation</p>
                </div>
                <div class="col-md-3 col-xs-6 text-center">
                    <div class="counter" data-count="{{ formations | length }}">0</div>
                    <p><i class="fas fa-book-open"></i> formations</p>
                </div>
                <div class="col-md-2 col-xs-6 text-center">
                    <div class="counter" data-count="{{ ufas | length }}">0</div>
                    <p><i class="fas fa-school"></i> UFA </p>
                </div>
                <div class="col-md-2 col-xs-6 text-center">
                    <div class="counter" data-count="{{ cfa.successRate ?? 0 }}">0</div>
                    <p><i class="fas fa-graduation-cap"></i> % de validations totales</p>
                </div>
            </div>
        </div>
    </div>
</section>
