<section class="employer_homepage">
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center "> LES EMPLOYEURS</h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <a href="{{ path('hireAnApprentice') }}" class="link-formation">
                    <div class="etudiants-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Embaucher un apprenti</h4>
                        <p>
                            <a href="{{ path('hireAnApprentice') }}">En savoir plus</a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <a href="{{ path('learningCondition') }}" class="link-formation">
                    <div class="books-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Les principes de l'apprentissage</h4>
                        <p>
                            <a href="{{ path('learningCondition') }}">En savoir plus</a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <a href="{{ path('masterInstructor') }}" class="link-formation">
                    <div class="master-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Le maître d'apprentissage</h4>
                        <p>
                            <a href="{{ path('masterInstructor') }}">En savoir plus</a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <a href="{{ path('socialSecurityContributions') }}" class="link-formation">
                    <div class="contributions-img apprenti-background"></div>
                    <div class="caption">
                        <h4>Salaires et frais divers</h4>
                        <p>
                            <a href="{{ path('socialSecurityContributions') }}">En savoir plus</a>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
