<section class="employer_homepage">
    <div class="row side-bar">
        <div class="sidebar col-12">
            <h2 class="text-center "> LES EMPLOYEURS</h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <div class="etudiants-img apprenti-background"></div>
                <div class="caption">
                    <h4>Embaucher un apprenti</h4>
                    <p>
                        <a href="{{ path('hireAnApprentice') }}">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <div class="books-img apprenti-background"></div>
                <div class="caption">
                    <h4>Les principes de l'apprentissage</h4>
                    <p>
                        <a href="{{ path('learningCondition') }}">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <div class="master-img apprenti-background"></div>
                <div class="caption">
                    <h4>Le maître d'apprentissage</h4>
                    <p>
                        <a href="{{ path('masterInstructor') }}">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-center">
            <div class="img-thumbnail apprenti-select">
                <div class="contributions-img apprenti-background"></div>
                <div class="caption">
                    <h4>Les cotisations sociales</h4>
                    <p>
                        <a href="{{ path('socialSecurityContributions') }}">En savoir plus</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    {#<div class="row">#}
    {#<div class="col-md-6 col-sm-12 col-sm-ml-0 mt-4">#}
    {#<ul class="list_none float-right">#}
    {#<li>#}
    {#<i class="fas fa-angle-right"></i><a class="p-3" href="{{ path('hireAnApprentice') }}">Embaucher un#}
    {#apprenti</a>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fas fa-angle-right"></i><a class="p-3" href="{{ path('learningCondition') }}">Les#}
    {#principes de#}
    {#l'apprentissage</a>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fas fa-angle-right"></i><a class="p-3" href="{{ path('masterInstructor') }}">Le maître d'apprentissage</a>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fas fa-angle-right"></i><a class="p-3" href="#">Les cotisations sociales</a>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="col-md-6 d-none d-sm-block">#}
    {#<img src="{{ asset('images/employeurs_poignée_main.jpg') }}" class="img-fluid float-right"#}
    {#alt="employeurs_poignée_de_main">#}
    {#</div>#}
    {#</div>#}
</section>
