<section>
    <div class="row">
        <div class="sidebar col-12">
            <h2 class="text-center">NOS ACTUALITÉS</h2>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            {% for event in events %}
                <div class="col-sm-4 col-12">
                    <div class="img-thumbnail apprenti-select shadow event-thumbnail">
                        <div class="event-img apprenti-background"></div>
                        <div class="caption event-caption">
                            <h4>{{ event.title }}</h4>
                            <p><span class="style-subtitle">{% if event.date %}| {{ event.date|date('d/m/Y') }}{% endif %}</span></p>
                            <p class="text-truncate"><a href="{{ path('event_show', {'id':event.id }) }}">{{ event.description }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row text-center mt-2">
        <div class="col-sm-12">
            <a class="btn btn-outline-success m-4" href="{{ path('event_index') }}">Plus d'actualités ...</a>
        </div>
    </div>
</section>
