<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="{{ path('admin_homepage') }}">
        <img src="/images/logo-navbar.png" width="80" height="60" class="mr-4" alt="Logo du CFA">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active ml-5 mr-3" href="{{ path('cfa_index') }}">CFA</a>
            <a class="nav-item nav-link active mr-3" href="{{ path('formation_admin_index') }}">Formation</a>
            <a class="nav-item nav-link active mr-3" href="{{ path('ufa_index') }}">UFA</a>
            <a class="nav-item nav-link active mr-3" href="{{ path('admin_event_index') }}">Evénements</a>
            <a class="nav-item nav-link active mr-3" href="{{ path('partnair_index') }}">Partenaires</a>
        </div>
    </div>
</nav>