<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('build/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/style_admin.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
