{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faq</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ faq.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ faq.question }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ faq.response }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('faq_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('faq_edit', { 'id': faq.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
