{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="section-title  background-event d-none d-sm-block"></div>
        </div>
        <div class="row">
            <div class="col offset-1 mb-5 ">
                <h1 class="title-style style-page">{{ event.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p>
                    {% if event.date %}{{ event.date|date('d/m/Y') }}{% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <p>
                    {{ event.description }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="fb-share-button pull-right offset-md-1" data-href="http://51.38.230.231/event/{{ event.id }}"
                 data-layout="button"
                 data-size="large"
                 data-mobile-iframe="true"><a target="_blank"
                                              href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F51.38.230.231%2F&amp;src=sdkpreparse"
                                              class="fb-xfbml-parse-ignore">Partager</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/share.js') }}"></script>
{% endblock %}

