{% extends 'base.html.twig' %}



{% block body %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>


    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>Les UFA</h3>
                    <ul>
                        {% for ufa in ufas %}
                            <li class="list-group-item  "><a href="{{ path('cart_show', { 'id': ufa.id }) }}">{{ ufa.name }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="col-6">
                <body onload="initialize()">
                    <div id="map" style="width: 40vw; height: 80vh;">
                    </div>
                </body>
            </div>
            <div class="col-3">
                <ul><h3>{{ ufa.name }}</h3>
                    <li>{{ ufa.address }}</li>
                    <li>{{ ufa.zipcode }} {{ ufa.town }}</li>
                    <li>{{ ufa.formation.name }}</li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function initialize() {
            var map = L.map('map').setView([47.588, 1.348], 8); // LIGNE 14

            var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { // LIGNE 16
                attribution: '© OpenStreetMap contributors',
                maxZoom: 19
            });

            map.addLayer(osmLayer);

            {% for ufa in ufas %}
            L.marker([{{ ufa.longitude }}, {{ ufa.latitude }}]).addTo(map)
                .bindPopup('{{ ufa.name }}<br> {{ ufa.address }} <br> {{ ufa.zipcode }} {{ ufa.town }}');
            {% endfor %}
        }
    </script>
{% endblock %}
