{% extends 'layout.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />


    <div class="container-fluid"  id="activeTab" data-active="cfa">
        <div class="row">
                <h1 class="title-style style-page">Les UFA</h1>
        </div>
        <div class="row">
            <div class="col-md-3 col-12">
                <ul>
                    {% for ufa in ufas %}
                        <li class="list-group-item shadow">
                            <i class="fas fa-angle-right"></i>
                            <a class="link-formation" href="{{ path('map_show', { 'id': ufa.id }) }}">{{ ufa.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 col-12">
                    <div id="map" class="leaflet">
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h2>{{ ufa.name }}</h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                            <ul class="list_none">
                                <li>{{ ufa.address }}</li>
                                <li>{{ ufa.zipcode }} {{ ufa.town }}</li>
                            </ul>
                        <p class="card-text">
                        <p>Formation(s) dispensée(s):</p>
                        <ul class="list_none">
                            {% for formation in ufa.formations %}
                                <li><i class="fas fa-graduation-cap"></i>
                                    <a class="link-formation" href="{{ path('formation', {'id': formation.id}) }}">{{ formation.name }}</a></li>
                            {% endfor %}
                        </ul>
                        <a class="btn btn-outline-primary float-right" href="#" class="btn btn-primary">Le site de l'UFA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',function(){

            var map = L.map('map').setView([47.588, 1.348], 8); // LIGNE 14

            var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', { // LIGNE 16
                attribution: '© OpenStreetMap contributors',
                maxZoom: 19
            });
            var blueIcon = L.icon({
                iconUrl: "{{ asset('images/pushed-pin-blue.png') }}",
                iconSize:     [45, 45], // size of the icon
                popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
            });

            var redIcon = L.icon({
                iconUrl: "{{ asset('images/push-pin-red.png') }}",
                iconSize:     [45, 45], // size of the icon
                popupAnchor:  [0, -20] // point from which the popup should open relative to the iconAnchor
            });

            map.addLayer(osmLayer);

            {% for ufa in ufas %}
            L.marker([{{ ufa.longitude }}, {{ ufa.latitude }}], {icon: blueIcon}).addTo(map)
                .bindPopup('{{ ufa.name }}<br> {{ ufa.address }} <br> {{ ufa.zipcode }} {{ ufa.town }}');
            {% endfor %}

            L.marker([{{ ufa.longitude }}, {{ ufa.latitude }}], {icon: redIcon}).addTo(map)
                .bindPopup('{{ ufa.name }}<br> {{ ufa.address }} <br> {{ ufa.zipcode }} {{ ufa.town }}');
        });
    </script>
{% endblock %}
