{% extends 'layoutAdmin.html.twig' %}
{% block title %}Administration des évenements du cfa de Blois{% endblock %}
{% block body %}
    <div class="container">
    <h1>Liste des évènements</h1>
        <div class="row">
            <div class="col-md-3 offset-9">
                <a class="btn btn-outline-primary mb-3" href="{{ path('admin_event_new') }}">+ Créer un évènement</a>
            </div>
        </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.title }}</a></td>
                <td>{% if event.date %}{{ event.date|date('d-m-Y') }}{% endif %}</td>
                <td><a class="btn btn-outline-primary" href="{{ path('admin_event_show', { 'id': event.id }) }}">Voir</a></td>
                <td><a class="btn btn-outline-secondary" href="{{ path('admin_event_edit', { 'id': event.id }) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
