{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Liste des évènements</h1>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Titre</th>
                <th class="text-center">Date</th>
                <th class="text-center">Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ event.title }}</a></td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.description }}</td>
                <td><a class="btn btn-outline-primary" href="{{ path('admin_event_show', { 'id': event.id }) }}">Voir</a></td>
                <td><a class="btn btn-outline-secondary" href="{{ path('admin_event_edit', { 'id': event.id }) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-outline-primary" href="{{ path('admin_event_new') }}">Ajouter un nouvel évènement</a>
        </li>
    </ul>
    </div>
{% endblock %}
