{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Evènement</h1>
            <div class="row">
                <div class="col-8">
                    <table class="table table-bordered" >
                        <tbody>
                            <tr>
                                <th>Titre</th>
                                <td>{{ event.title }}</td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>{{ event.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4 border-left">
                    <ul>
                        <li>
                            <a class="btn btn-outline-secondary" href="{{ path('admin_event_index') }}">Retour à la liste</a>
                        </li>
                        <li>
                            <a class="btn btn-outline-primary" href="{{ path('admin_event_edit', { 'id': event.id }) }}">Modifier</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                                <input class="btn btn-outline-danger" type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}
