{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <h1>Partnairs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Link</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partnair in partnairs %}
            <tr>
                <td><a href="{{ path('partnair_show', { 'id': partnair.id }) }}">{{ partnair.id }}</a></td>
                <td>{{ partnair.image }}</td>
                <td>{{ partnair.link }}</td>
                <td>{{ partnair.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('partnair_show', { 'id': partnair.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('partnair_edit', { 'id': partnair.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partnair_new') }}">Create a new partnair</a>
        </li>
    </ul>
{% endblock %}
