{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
    <h1>{{ partnair.name }}</h1>
        <div class="row">
            <div class="col-9">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Image</th>
                            <td>{{ partnair.image }}</td>
                        </tr>
                        <tr>
                            <th>Url</th>
                            <td>{{ partnair.link }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ partnair.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3 border-left">
                <ul>
                    <li>
                        <a class="btn-outline-primary btn" href="{{ path('partnair_index') }}">Retour à la liste</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary" href="{{ path('partnair_edit', { 'id': partnair.id }) }}">Modifier</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input class="btn btn-outline-danger" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
