{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center title-style">Les formations</h1>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Présentation du métier</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td><a href="{{ path('formation_show', { 'id': formation.id }) }}">{{ formation.id }}</a></td>
                <td>{{ formation.name }}</td>
                <td>{{ formation.shortPresentation }}</td>
                <td>{{ formation.jobDescription }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info form-control" href="{{ path('formation_show', { 'id': formation.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a class="btn btn-danger form-control" href="{{ path('formation_edit', { 'id': formation.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a class="btn btn-info mt-4 mb-5" href="{{ path('formation_new') }}">+ Créer une formation</a>
        </li>
    </ul>
</div>
{% endblock %}
