{% extends 'layoutAdmin.html.twig' %}

{% block body %}
<div class="container">
    <h1>Formation {{ formation.name }}</h1>
    <div class="row">
        <div class="col-9">
            <table class="table table-bordered" >
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ formation.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ formation.name }}</td>
                </tr>
                <tr>
                    <th>Présentation du métier</th>
                    <td>{{ formation.shortPresentation | raw }}</td>
                </tr>
                <tr>
                    <th>Description du métier</th>
                    <td>{{ formation.jobDescription | raw }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3 border-left">
            <ul>
                <li>
                    <a class="btn btn-outline-secondary" href="{{ path('formation_admin_index') }}">Retour à la liste</a>
                </li>
                <li>
                    <a class="btn btn-outline-primary" href="{{ path('formation_edit', { 'id': formation.id }) }}">Modifier</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input class="btn btn-outline-danger" type="submit" value="Supprimer">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
