{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="text-center title-style">L'histoire du CFA</h1>
        <div class="row">
            <div class="col-md-3 offset-9">
                <a class="btn btn-outline-primary mb-3" href="{{ path('historiccfa_new') }}">+ Créer une histoire</a>
            </div>
        </div>

    <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for historicCfa in historicCfas %}
                <tr>
                    <td>{{ historicCfa.id }}</td>
                    <td>{{ historicCfa.title }}</td>
                    <td>{{ historicCfa.date | date('d/m/Y') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-info form-control" href="#">Voir</a>
                            </li>
                            <li>
                                <a class="btn btn-danger form-control" href="{{ path('historiccfa_edit', { 'id': historicCfa.id }) }}">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
               
            </tbody>
        </table>
    </div>
{% endblock %}
