{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historiccfa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historicCfa.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if historicCfa.date %}{{ historicCfa.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ historicCfa.title }}</td>
            </tr>
            <tr>
                <th>Containt</th>
                <td>{{ historicCfa.containt }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('historiccfa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('historiccfa_edit', { 'id': historicCfa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
