{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>La taxe</h1>
            <div class="row">
                <div class="col-9">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Taxe Apprentissage</th>
                                <td>{{ taxe.taxeApprentissage | raw }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3 border-left">
                <ul>
                    <li>
                        <a class="btn-outline-primary btn" href="{{ path('taxe_index')  }}">Retour à la liste</a>
                    </li>
                    <li>
                        <a class="btn btn-outline-secondary" href="{{ path('taxe_edit', { 'id': taxe.id }) }}">Modifier</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input class="btn btn-outline-danger" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
