{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taxe</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ taxe.id }}</td>
            </tr>
            <tr>
                <th>Taxeapprentissage</th>
                <td>{{ taxe.taxeApprentissage }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('taxe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('taxe_edit', { 'id': taxe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
