{% extends 'layoutAdmin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>La présidence</h1>
        <div class="row">
            <div class="col-md-3 offset-9">
                {% if cfas is empty %}
                    <a class="btn btn-outline-primary mb-3" href="{{ path('cfa_admin_new') }}">+ Créer</a>
                {% endif %}
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="text-center">Le mot de la présidence</th>
                <th class="text-center">Nombre d'apprentis</th>
                <th class="text-center">Taux de réussite</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for cfa in cfas %}
                <tr>
                    <td>{{ cfa.textPresident | raw }}</td>
                    <td>{{ cfa.apprenticeNumber}}</td>
                    <td>{{ cfa.successRate}}</td>
                    <td><a class="btn btn-outline-primary" href="{{ path('cfa_admin_show', { 'id': cfa.id }) }}">Voir</a></td>
                    <td><a class="btn btn-outline-secondary" href="{{ path('cfa_edit', { 'id': cfa.id }) }}">Modifier</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

